.App {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-footer {
  position: fixed;
  width: 100%;
  background: #673ab7;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  bottom: 3px;
  z-index: 99;
}

.withoutButton.Message {
  position: fixed;
  bottom: 9em;
  /* left: 29%; */
  color: darkred;
  word-break: break-word;
  padding: 7px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.withoutButton.Message .offlineMessCOntainer {
  top: 0 !important;
  left: -4px !important;
}

.button-boxApp {
  background: #fcfcfc;
  border-radius: 20px;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgb(119 119 119 / 50%);
  transition: all 0.5s ease-in-out;
  padding: 10px;
  margin-right: 6px;
}
.button-boxApp:hover {
  background: #efefef;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.appLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.bonus-section {
  height: 100vh;
  width: 100%;
  position: absolute;
  transform: scale(0.7);
  z-index: 1;
  transform: scale(0.7) translate(0, -10em);
}
.bonus-section .offlineMessCOntainer {
  margin-bottom: 26px;
  position: initial;
}
.App .slide-in-top,
.App .bounce-in-top {
  z-index: 6 !important;
}

@media screen and (max-width: 500px) {
  sub {
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
  }
  .bonus-section {
    top: 10px;
  }
  .appLogo h1 {
    font-size: 18px;
    margin-top: 16rem;
  }
  .withoutButton.Message {
    left: -6px;
  }
  nav.float-action-button {
    top: 0 !important;
  }
  .custompictureButton {
    display: none !important;
  }
}

@media screen and (device-width: 1280px) {
  .bonus-section {
    top: 15px;
  }
  .appLogo h1 {
    font-size: 18px;
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1000px) {
  .appLogo img {
    transform: scale(1.9) translate(0, 30px) !important;
  }
  .appLogo h1 {
    margin-top: 4em;
  }
}
